<div class="docsify-pagination-container">
    <div class="pagination-item pagination-item--previous" *ngIf="prev">
        <a class="prev" [routerLink]="prev.link">

            <div class="pagination-item-label">
                <span>« 上个部分</span>
            </div>
            <div class="pagination-item-title">{{prev.title}}</div>
        </a>
    </div>
    <div class="pagination-item pagination-item--next" *ngIf="next">
        <a class="next" [routerLink]="next.link">
            <div class="pagination-item-label">
                <span>下一部分 »</span>
            </div>
            <div class="pagination-item-title">{{next.title}}</div>
        </a>
    </div>
</div>

