<ion-grid>
    <ion-row>
        <!-- Books added already -->
        <ion-col *ngFor="let book of sortBy(bookListDisplay, 'name')" sizeXs="12" sizeSm="6" sizeLg="4" sizeXl="4">
            <mat-card class="book-card">
                <mat-card-title *ngIf="!book.downloaded">{{book.name}}</mat-card-title>
                <mat-card-header>
                    <div mat-card-avatar 
                         style="background-image: url('assets/images/avatar.png'); background-size: cover;">
                    </div>
                    <mat-card-title>{{book.writer.name}}</mat-card-title>
                    <mat-card-subtitle>{{book.website.uri}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content *ngIf="book.downloaded">
                    <docspa-md-include [isPageContent]="true" [path]="book.desc" [lines]=3></docspa-md-include>
                </mat-card-content>
                <mat-card-content *ngIf="book.errMsg">
                    <ion-text color="danger">{{book.errMsg}} - 无法下载，建议删除</ion-text>
                </mat-card-content>

                <mat-card-actions fxLayoutAlign="end end">
                    <button mat-button [disabled]="!book.downloaded" (click)="openBook(book)">打开阅读</button>
                    <button id="{{ 'download-book-' + book.id }}" mat-button [disabled]="book.downloaded" (click)="startDownload(book)">下载</button>
                    <button id="{{ 'delete-book-' + book.id }}" mat-button (click)="openDeleteBookDialog(book)" [disabled]="book.recycled">
                        <ion-icon name="close-outline" sizme="small"></ion-icon>删除
                    </button>
                    <button mat-button *ngIf="book.recycled" (click)="openDeleteBookDialog(book)">
                        <ion-icon name="cog-outline" sizme="small"></ion-icon>恢复/彻底删除
                    </button>
                </mat-card-actions>
            </mat-card>
        </ion-col>
    </ion-row>
</ion-grid>

<ion-fab vertical="bottom" horizontal="start">
    <ion-fab-button color="light" (click)="openAddBookDialog()">
        <ion-avatar>
            <ion-icon name="add-outline" style="position: absolute; right: 5px; bottom: 10px;"></ion-icon>
            <img src="assets/images/closed-book-clipart-12-512x512.png" />
        </ion-avatar>
    </ion-fab-button>
    <ion-fab-button color="light" (click)="displayBooksOnShelf()">
        <ion-avatar>
            <ion-badge color="success" style="position: absolute; left: 5px; bottom: 10px;">
                {{onShelfList.length}}
            </ion-badge>
            <img src="assets/images/bookshelf-512.png" />
        </ion-avatar>
    </ion-fab-button>
    <ion-fab-button color="light" (click)="displayRecycledBooks()">
        <ion-avatar>
            <ion-badge color="warning" style="position: absolute; left: 5px; bottom: 10px;">
                {{recycledList.length}}
            </ion-badge>
            <img src="assets/images/trash_full_512x512.png" />
        </ion-avatar>
    </ion-fab-button>
</ion-fab>


