[size="small"] {
    height: 20px;
    font-size: 12px;
}

ion-toolbar, ion-header {
    --min-height: 80px;
}

mat-card {
    margin: 10px 5px 5px 5px;
}

mat-card:hover {
    background-color: #4f4f4f;
}

.action-button {
    visibility: hidden;
}

mat-card-actions:hover .action-button{
    visibility: visible;
}

.cate-chip:hover {
    cursor: pointer;
}

.modify-cate-list {
    visibility: hidden;
}

.cate-list:hover .modify-cate-list {
    visibility: visible;
}
