<h1 mat-dialog-title>{{'home.deleteBook.remove' | translate}}{{ this.data.name }}</h1>
<div mat-dialog-content>
    <p>{{'home.deleteBook.precautions' | translate}}</p>
    <ul>
        <li *ngIf="!this.data.recycled">{{'home.deleteBook.recycleRemind.prefix' | translate}}<ion-text color="danger" *ngIf="this.data.recordList && this.data.recordList.length > 0">{{'home.deleteBook.recycleRemind.important' | translate}}</ion-text>{{'home.deleteBook.recycleRemind.last' | translate}}</li>
        <li>{{'home.deleteBook.deleteRemind.prefix' | translate}}<ion-text color="danger">{{'home.deleteBook.deleteRemind.important' | translate}}</ion-text></li>
        <li>{{'home.deleteBook.closeDialogRemind' | translate}}</li>
    </ul>
</div>
<div mat-dialog-actions>
    <button mat-button matDialogClose>
        {{'home.deleteBook.actions.cancel' | translate}}
    </button>
    <button *ngIf="!this.data.recycled" mat-button [mat-dialog-close]="recycled" matTooltip="{{'home.deleteBook.tooltip.recycle' | translate}}">
        {{'home.deleteBook.actions.recycle' | translate}}
    </button>
    <button *ngIf="this.data.recycled" color="success" 
                                       mat-button [mat-dialog-close]="recoverRecycled" 
                                       matTooltip="{{'home.deleteBook.tooltip.putItBack' | translate}}">
        {{'home.deleteBook.actions.putItBack' | translate}}
    </button>
    <button color="warn" mat-button [mat-dialog-close]="deleteRecycled">{{'home.deleteBook.actions.remove' | translate}}</button>
</div>
