<h1 mat-dialog-title>{{data.name|uppercase}} 阅读记录</h1>
<div mat-dialog-content>
    <mgl-timeline [toggle]="toggle" [alternate]="alternate" [side]="side">
        <mgl-timeline-entry *ngFor="let record of data.recordList; let i = index;" (expand)="onExpandEntry($event, i)">
            <mgl-timeline-entry-header (click)="onHeaderClick($event)">
                <div>{{record.dateCreated}}</div>
            </mgl-timeline-entry-header>
            <mgl-timeline-entry-content 
                [expandAnimationTiming]="contentAnimation ? '200ms ease' : '0ms'"      
                [collapseAnimationTiming]="contentAnimation ? '100ms ease' : '0ms'">
                <div>
                    <div>{{record.desc}}</div>
                    <div>{{record.path}}</div>
                </div>
            </mgl-timeline-entry-content>
            <mgl-timeline-entry-dot [class]="color ? 'primary' : 'accent'" 
                [size]="size"
                (click)="onDotClick($event)"
                [expandAnimationTiming]="dotAnimation ? '200ms ease' : '0ms'"
                [collapseAnimationTiming]="dotAnimation ? '100ms ease' : '0ms'" >
            </mgl-timeline-entry-dot>
            <mgl-timeline-entry-side>2018</mgl-timeline-entry-side>
        </mgl-timeline-entry>
    </mgl-timeline>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">关闭</button>
</div>
