mat-card:hover .save-cloud-book{
    display: block;
}

ion-button.save-cloud-book {
    position: absolute; 
    right: 10px; 
    top: 5px;
    display: none;
}

mat-card {
    margin-top: 10px;
      width: 95%;
}

@media screen and (min-width: 960px) {
  mat-card {
      width: 85%;
  }
}

@media screen and (min-width: 1280px) {
  mat-card {
      width: 75%;
  }
}

