<div fxLayout="column" fxLayoutAlign="start stretch" style="background-color: #424242;">
    <form fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-form-field class="search-input-form-field" fxFlex="25">
            <mat-label>关键字</mat-label>
            <input type="text" matInput [formControl]="keywordsFormControl" 
                   [(ngModel)]="keywords"
                   [errorStateMatcher]="matcher" />
            <button mat-button *ngIf="keywords" matSuffix mat-icon-button aria-label="Clear" (click)="clearKeywords()">
                <mat-icon>close</mat-icon>
            </button>
            <mat-hint>搜索用到的关键字，以空格分开</mat-hint>
            <mat-error *ngIf="keywordsFormControl.hasError('required')">
                关键字 <strong>必须提供</strong>
            </mat-error>
        </mat-form-field>

        <mat-radio-group aria-label="Select a platform" 
                         fxLayout="row" 
                         fxLayoutAlign="space-evenly center" 
                         [(ngModel)]="platformSelected" fxLayoutGap="10px">
            <mat-radio-button *ngFor="let platform of platforms" [value]="platform.name">
                <mat-chip>
                    <ion-icon [src]="platform.icon"></ion-icon>{{platform.name}}
                </mat-chip>
            </mat-radio-button>
        </mat-radio-group>

        <button mat-stroked-button color="primary" 
            (click)="search()"
            [disabled]="!keywordsFormControl.valid">
            <ion-text color="light"><ion-icon name="search-outline"></ion-icon>搜索</ion-text>
        </button>
    </form>

    <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
        <!--搜索结果-->
        <div fxFlex="75"></div>
        <!--最近搜索条目-->
        <div></div>
    </div>
</div>

