<ion-header>
    <ion-toolbar slots="end" class="app-toolbar">
        <ion-title style="position: absolute; left: 150px;">YAGR Gitbook阅读器</ion-title>
        <ion-fab vertical="center" horizontal="end" edge>
            <ion-grid>
                <ion-row>
                    <!-- 添加一本书 -->
                    <ion-col>
                        <ion-fab-button color="light" (click)="openAddBookDialog()" matTooltip="从已知Git repo添加一本书" >
                            <ion-avatar>
                                <ion-icon name="add-outline" style="position: absolute; right: 5px; bottom: 10px;"></ion-icon>
                                <img src="assets/images/closed-book-clipart-12-512x512.png" />
                            </ion-avatar>
                        </ion-fab-button>
                    </ion-col>

                    <!-- 云上书籍 -->
                    <ion-col>
                        <ion-fab-button color="light" (click)="openSearchPage()" matTooltip="打开搜索页面" >
                            <ion-avatar id="avatar-cloud-search">
                                <ion-icon name="search-outline" style="position: absolute; right: 5px; bottom: 10px;"></ion-icon>
                                <img src="assets/images/books-cloud.png" />
                            </ion-avatar>
                        </ion-fab-button>
                    </ion-col>

                    <!-- 正在看的书, 打开次数大于 0 的书 -->
                    <ion-col>
                        <ion-badge color="success" style="position: absolute; right: 0px; top: 0px; overflow: visible!important;">
                            {{currentlyReading}}
                        </ion-badge>
                        <ion-fab-button color="light" (click)="displayBookListCurrentlyReading()" matTooltip="正在看的书">
                            <ion-avatar id="avatar-currently-reading">
                                <img src="assets/images/currently-reading-books.png" />
                            </ion-avatar>
                        </ion-fab-button>
                    </ion-col>                   

                    <!-- 书架上的书, 打开 0 次的书 -->
                    <ion-col>
                        <ion-badge color="success" style="position: absolute; right: 0px; top: 0px; overflow: visible!important;">
                            {{onShelf}}
                        </ion-badge>
                        <ion-fab-button color="light" (click)="displayBookListOnShelf()" matTooltip="书架上的书">
                            <ion-avatar id="avatar-on-shelf">
                                <img src="assets/images/bookshelf-512.png" />
                            </ion-avatar>
                        </ion-fab-button>
                    </ion-col>

                    <!-- 准备删除的书 -->
                    <ion-col>
                        <ion-badge color="warning" style="position: absolute; right: 0px; top: 0px; overflow: visible!important;">
                            {{recycled}}
                        </ion-badge>

                        <ion-fab-button color="light" (click)="displayBookListRecycled()" matTooltip="暂存在回收站的书">
                            <ion-avatar id="avatar-recycled">
                                <img src="assets/images/trash_full_512x512.png" />
                            </ion-avatar>
                        </ion-fab-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-fab>
    </ion-toolbar>
    <ion-toolbar class="search-toolbar" *ngIf="search">
        <form>
            <div fxLayout="row" 
                 fxLayoutAlign="center center" 
                 slot="fixed"
                 fxLayoutGap="10px"> 
                <mat-form-field class="search-input-form-field" fxFlex="25">
                    <mat-label>关键字</mat-label>
                    <input type="text" matInput [formControl]="keywordsFormControl" 
                           [(ngModel)]="keywords"
                           [errorStateMatcher]="matcher" />
                    <button mat-button 
                            matTooltip="清除关键字"
                        *ngIf="keywords" matSuffix mat-icon-button aria-label="Clear" (click)="clearKeywords()">
                        <ion-icon class="remove-search-keywords" name="close-outline"></ion-icon>
                    </button>
                    <mat-hint>搜索用到的关键字，以空格分开</mat-hint>
                    <mat-error *ngIf="keywordsFormControl.hasError('required')">
                        关键字 <strong>必须提供</strong>
                    </mat-error>
                </mat-form-field>

                <mat-radio-group aria-label="Select a platform" 
                                 fxLayout="row" 
                                 fxLayoutAlign="space-evenly center" 
                                 [(ngModel)]="platformSelected" fxLayoutGap="10px">
                    <mat-radio-button *ngFor="let platform of platforms" [value]="platform.name">
                        <mat-chip>
                            <ion-icon [src]="platform.icon"></ion-icon> {{platform.name}}
                        </mat-chip>
                    </mat-radio-button>
                </mat-radio-group>

                <button mat-stroked-button color="primary" 
                                           (click)="cloudSearch(1)"
                                           [disabled]="!keywordsFormControl.valid">
                    <ion-text color="light"><ion-icon name="search-outline"></ion-icon>搜 索</ion-text>
                </button>
            </div>
        </form>
    </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)" padding>
    <section class="book-list">
        <app-book-list [_bookList]="bookList" 
             *ngIf="!search"
             [sortBy]="sortBy" 
             [beenOpened]="beenOpened" 
             [displayRecycled]="displayRecycled">
        </app-book-list>
        <app-books-cloud-search *ngIf="search" [bookList]="bookListCloud" [searching]="searching">
        </app-books-cloud-search>
    </section>
</ion-content>
