ion-header {
    ion-toolbar{
        --background: url("/assets/images/blue-background-header-1.png") no-repeat;
        --background-size: 100px;
    }
}

ion-content {
    --background: lightblue;
}

ion-toolbar {
    --min-height: 80px;
}

ion-badge {
    z-index: 10;
}
