<ion-header>
    <ion-toolbar slots="end">
        <ion-title>Gitbook阅读器</ion-title>

        <ion-fab vertical="center" horizontal="end" edge>
            <ion-grid>
                <ion-row>
                    <ion-col>
                <ion-fab-button color="light" (click)="openAddBookDialog()">
                    <ion-avatar>
                        <ion-icon name="add-outline" style="position: absolute; right: 5px; bottom: 10px;"></ion-icon>
                        <img src="assets/images/closed-book-clipart-12-512x512.png" />
                    </ion-avatar>
                </ion-fab-button>
                    </ion-col>
                    <ion-col>
                <ion-fab-button color="light" (click)="displayBooksOnShelf()">
                    <ion-avatar>
                        <ion-badge color="success" style="position: absolute; left: 5px; bottom: 10px;">
                            {{onShelfList.length}}
                        </ion-badge>
                        <img src="assets/images/bookshelf-512.png" />
                    </ion-avatar>
                </ion-fab-button>
                    </ion-col>
                    <ion-col>
                <ion-fab-button color="light" (click)="displayRecycledBooks()">
                    <ion-avatar>
                        <ion-badge color="warning" style="position: absolute; left: 5px; bottom: 10px;">
                            {{recycledList.length}}
                        </ion-badge>
                        <img src="assets/images/trash_full_512x512.png" />
                    </ion-avatar>
                </ion-fab-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-fab>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <section class="book-list">
        <app-book-list [bookListDisplay]="bookListDisplay" [cateList]="cateList"></app-book-list>
    </section>
</ion-content>

