ion-header {
    ion-toolbar{
        --background: url("/assets/images/blue-background-header-1.png") no-repeat;
        --background-size: 100px;
    }
}

ion-content {
    --background: lightblue;
}
